@media screen and (max-width: 150px) {
		td {
		padding:0px 1px 0 0px;
	}	
}

@media screen and (min-width: 151px) and (max-width: 550px) {
	table {
		height: 300px;
		width: 300px;
	}
}

@media screen and (min-width: 551px) {
	table {
		height: 500px;
		width: 500px;
	}
}

.tablediv {
	width:100%;
}
.tree {
	max-width: 100%;
	height: auto;
}

.rules {
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	font-weight: 100;
	width: 20%;
	color: white;
}

td {
	padding:8px 1px 0 10px;
}


body {

	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: #242424;
	font-family: 'Montserrat', sans-serif;
}
button {
	margin: auto;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
	background-color: rgb(243, 237, 237);
	border: 3px solid #4CAF50;
	padding: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}

table {
	margin: auto;
	display: block;
	border-collapse: collapse;
}