@media screen and (min-width: 151px) and (max-width: 550px) {
	table {
		width: 300px;
	}
	.treetable {
		width: 200px;
	}
	.rules {
		width: 300px;
	}
}

@media screen and (min-width: 551px) {
	table {
		width: 497px;
	}
	.treetable {
		width: 300px;
	}
	.rules {
		width: 300px;
	}
}
.treetable {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

.tree {
	max-width: 100%;
	height: auto;
}

.rules {
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	font-weight: 100;
	max-width: 100%;
	color: white;
}

body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: #242424;
	font-family: 'Montserrat', sans-serif;
}

button {
	margin: auto;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
	background-color: rgb(243, 237, 237);
	border: 3px solid #4CAF50;
	padding: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}

table {
	table-layout: fixed;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 3px;
	line-height: 0;
}

.start {
	color: rgb(17, 199, 17);
}